table {
  width: 100% !important;
}

table,
th,
td {
  border-collapse: collapse;
}

th {
  background-color: #56ccf2;
  padding: 10px;
}
tr {
  border-bottom: 1px solid rgb(206, 206, 206);
}
tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color: #fff;
}

table i {
  margin-left: 15px;
  cursor: pointer;
}

td {
  padding: 10px 40px;
}

table a {
  text-decoration: none;
  font-weight: bold;
}
